{% extends 'main/base.html' %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <div class="col">

                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ product.image.url }}" alt=""
                                 width="100%" height="275" role="img">
                            <div class="card-body">
                                {% if product.sell %}
                                    <span class="badge text-bg-warning rounded-pill">Скидка {{ product.sell }} % </span>
                                {% else %}
                                    <br>
                                {% endif %}
                                <p class="card-text">{{ product.name }}</p>
                                <p> {{ product.description }}</p>
                                {% if product.sell %}
                                    <a href="{% url 'main:detail' product.slug %}"
                                       class="btn btn-primary stretched-link">{{ product.sell_price }} $</a>
                                {% else %}
                                    <a href="{% url 'main:detail' product.slug %}"
                                       class="btn btn-primary stretched-link">{{ product.price }} $</a>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

        <br>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_previous %} ?page={{ products.previous_page_number }}
                    {% endif %}">Назад</a>
                </li>

                {% for page in products.paginator.page_range %}
                    {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                        <li class="page-item {% if products.number == page %} active {% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_next %} ?page={{ products.next_page_number }} {% endif %}">Следующая</a>
                </li>
            </ul>
        </nav>


        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'main:index' %}" class="nav-link px-2 text-body-secondary">Главная
                    страница</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Поддержка</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О сайте</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 ShopShoes, Inc</p>
        </footer>

    </div>





{% endblock %}