{% extends 'main/base.html' %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for product in products %}

                    <div class="col">
                        <div class="card shadow-sm">

                            <img class="bd-placeholder-img card-img-top" src="{{ product.image.url }}" alt=""
                                 width="100%" height="275" role="img">

                            <div class="card-body">
                                <p class="card-text">{{ product.name }}</p>
                                <p> {{ product.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if product.sell == 0 %}
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-secondary">{{ product.price }} $
                                            </button>
                                        {% else %}
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-secondary"><s>{{ product.price }} $</s>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-secondary">{{ product.sell_price }} $</button>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}